.content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1rem;
    /* width: 20rem; */
}
.uploadImg{
    
        width: "200px";
        height: "200px";
        border-radius: "50%";
        object-fit: "cover";
        border: "4px solid green",
    /* style={{
        width: "200px",
        height: "200px",
        borderRadius: "50%",
        objectFit: "cover",
        border: "4px solid green",
    }} */
}
.confirmationContent{
    width: 500px;
    height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 0 50vmax rgba(0,0,0,0.4);
    display: grid;
    grid-template-columns: column;
    padding-left: 1em;
    padding-top: 1em; 
    padding-right: 1em;
    padding-bottom: 10em;
    left: 35%;
    bottom: 50%;
    top: 30%;
    right: 50%;
    z-index: 999;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 1rem;
  
}
.text1{
    font-size: 15px;
}
.dialoq{
    background-color: black;
}
.crop{
   align-items: center; 
   width: 150px;
   height: 45px;
   margin: 10px;
   border: none;
   background-color: rgb(234, 240, 235);
   color: white;
   border-radius: 8px;
   font-size: 20px;
   cursor: pointer;
}