
  .title{
    font-size: 10px;
    margin-top: 2px;
  }
  .headers{
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
  }
  .dld2{
    width: 200px;
    height: 50px;
  }
  .pdp{
    width: 70px;
    height: 70px;
  }
  .center{
    text-align: center;
    padding-top: 14px;
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 30px;
    margin: auto;
    border-radius: 20px;
  }
  .text{
    text-align: center;
  }
  .cardBody{
    border: 10px solid green;
    border-style: double;
    border-radius: 5px;

  }
  .body{
    display: flex;
    justify-content: space-between;
    padding: 7px;
  }
  .left{
    margin-top: 1rem;
  }
  .cmt{

  }
  
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  @media only screen and (min-width : 320px) and (max-width:600px) {
    .cardBody{
      width: 380px;
      height: 420px;
  
    }
    .better{
      font-size: 20px;
      margin-top: 2px;
    }
    .right{
      font-size: 20px;
    }
  }