
  .title{
    font-size: 10px;
    margin-top: 2px;
  }
  .headers{
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
  }
  .dld2{
    width: 200px;
    height: 50px;
  }
  .pdp{
    width: 70px;
    height: 70px;
  }
  .center{
    text-align: center;
    padding-top: 14px;
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 30px;
    margin: auto;
    border-radius: 20px;
  }
  .name{
    font-weight: 600;
    /* border: 1px solid green; */
    text-align: center;
    padding-top: 14px;
    width: 260px;
    height: 30px;
    margin-left: 25rem;
    line-height: 2;
    margin-bottom: 3rem;
  }
  .vote{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: italic;
    /* background-color: #000; */
    color: rgb(206, 16, 16);
    width: 80px;
    height: 20px;
    margin-left: 30.4rem;
    border-radius: 20px;
    border: 3px solid green;
    font-size: 20px;
  }
  .text{
    text-align: center;
  }
  .cardBody{
    border: 10px solid green;
    border-style: double;
    border-radius: 5px;
    background-image: url(../../public/d5.jpg);

  }
  .body{
    display: flex;
    margin-top: -3rem;
    justify-content: space-between;
    padding: 7px;
  }
  .left{
    margin-left: -2rem;
  }
  .right{
    margin-left: 15rem;
  }
  .dauda{
    font-size: large;
    font-weight: 800;
    font-style: oblique;
    font-family: sans-serif;
  }
  .gov{
    font-size: 23px;
    font-weight: 500;
    color: #021d02;
    font-style: bold;
  }
  

  @media only screen and (min-width : 320px) and (max-width:600px) {
    .cardBody{
      width: 330;
      height: 410;
      background-size:90%;
      background-position:bottom;
      /* background-image: none; */

      /* background-position: bottom; */
  
    }
    .better{
      font-size: 10px;
      margin-top: 2px;
    }
    .body{
      /* background-image: url(../../public/d5.jpg); */
      background-size:50%;
      background-position:bottom;
      display: inline;
    }
    .left{
      margin-left: -2rem;
      margin-top: 3.5rem;
    }
    .right{
      margin-left: 3rem;
    }
    .name{
      font-weight: 500;
      /* border: 1px solid green; */
      text-align: center;
      padding-top: 10px;
      width: 260px;
      height: 30px;
      margin-left: -4.5rem;
      font-size: 16px;
      line-height: 1.3;
    }
    .vote{
      text-align: center;
      padding-top: 5px;
      font-style: italic;
      /* background-color: #000; */
      color: rgb(206, 16, 16);
      width: 100px;
      height: 20px;
      margin-left:13rem;
      margin-top: -5rem;
      border-radius: 20px;
      border: 3px solid green;
    }
    .headers{
      display: flex;
      justify-content: space-between;
      padding: 0px 4px;
      margin: 0;
    }
    .dld2{
      width: 150px;
      height: 40px;
    }
    .pdp{
      width: 50px;
      height: 50px;
    }
    .center{
      text-align: center;
      padding-top: 5px;
      background-color: #000;
      color: #fff;
      width: 103px;
      height: 19px;
      margin-left: 0.5rem;
      border-radius: 20px;
      font-size: 12px;
    }
  }