.cardBody{
  width: var(--flyer-width);
  height: var(--flyer-height);
  border: 10px solid green;
  border-style: double;
  border-radius: 5px;
  margin: auto;
  display: flex;
  position: relative;
}

.hope{
  /* display: flex; */
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0 0 2rem;

    /* position: absolute; */
}

.head{
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  /* position: relative; */
}
.note{
  display: block;
  position: absolute;
  align-items: center;
  margin: 7rem 0 0 2rem;
  font-size: 18px;
  font-weight: 800;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.profileImage{
  margin: 9rem 0 0 3rem;
  position: absolute;
}
.myName{
  position: absolute;
  font-weight: 600;
  /* border: 1px solid green; */
  text-align: center;
  padding-top: 2px;
  width: 230px;
  /* height: 30px; */
  line-height: 1.4;
  text-align: center;
 
}
.name{
  font-size: 18px;
}
  .dld2{
    position: relative;
    height: 530px;
    min-width: 0;
    width: 380px;
    margin: 1rem 0 00.5rem 7rem;
    float: right;
    
   
    /* z-index: 2; */
  }
  .pdp{
    max-width: 70px;
    max-height: 70px;
  }
  .governor{
    position: absolute;
    text-align: center;
    padding: 10px 3px;
    background-color: rgba(0,0,0,.5);
    color: rgb(242, 236, 241);
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    height: 4rem;
    bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .vote{
    z-index: 1000;
    position: absolute;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-style: italic;
    background-color: #000;
    color: rgb(219, 206, 206);
    width: 80px;
    height: 20px;
    margin-left: 17rem;
    margin-top: 26rem;
    border-radius: 20px;
    border: 3px solid green;
    font-size: 20px;
  }

  
  @media screen and (max-width: 1024px) {
    .cardBody{
      height: var(--card-height)
    }
    .hope{
      /* display: flex; */
      align-items: center;
      padding: 0.5rem;
      margin: 0.5rem 0 0 2rem;
    
        /* position: absolute; */
    }
    .head{
      font-size: 25px;
    }
    .pdp{
      width: 55px;
      height: 55px;
    }
    .dld2{
      position: relative;
      height: 590px;
      min-width: 0;
      width: 380px;
      margin: 1rem 0 00.5rem 6rem;
      float: right;
    }
    .profileImage{
      margin: 10rem 0 0 3rem;
    }
    .myName{
      position: absolute;
      font-weight: 200;
      /* border: 1px solid green; */
      text-align: center;
      padding-top: 2px;
      width: 130px;
      font-size: 10px;
      /* line-height: 0.5; */
      text-align: center;
     
    }
    .vote{
      margin-left: 15rem;
      margin-top: 30rem;
    }
   
  }

  @media only screen and (max-width:600px) {
    .cardBody{
      height: var(--flyer-height);
    }
    .hope{
      margin: 0.5rem 0 0 0.4rem;
    }
    .head{
      display: inline-block;
      font-size: 10px;
      font-weight:300;
    }
    .pdp{
      width: 20px;
      height: 20px;
    }
    .dld2{
      position: relative;
      height: 250px;
      min-width: 0;
      width: 160px;
      margin: 3rem 0 0 3.5rem;
      float: right;
    }
    .note{
      display: block;
      position: absolute;
      align-items: center;
      margin: 3.5rem 0 0 1rem;
      font-size: 8px;
      font-weight: 500;
    }
    .profileImage{
      margin: 4rem 0 0 0.5rem;
      
    }
    .governor{
      position: absolute;
      text-align: center;
      padding: 10px 3px;
      background-color: rgba(0,0,0,.5);
      color: rgb(242, 236, 241);
      width: 100%;
      font-size: 10px;
      font-weight: bolder;
      height: 1.5rem;
      bottom: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .vote{
      z-index: 1000;
      padding-top: 3px;
      padding-bottom: 4px;
      font-style: italic;
      background-color: #000;
      color: rgb(219, 206, 206);
      width: 50px;
      height: 15px;
      margin-left: 10.5rem;
      margin-top: 14.5rem;
      border-radius: 20px;
      border: 3px solid green;
      font-size: 10px;
    }
    .myName{
      font-weight: 100;
      width: 130px;
      font-size: 10px;
      z-index: 1;
      padding: 0;
     
    }
    .name{
      font-size: 12px;
    }
  }