.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modalContainer {
    width: 700px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  .title{
    font-size: 10px;
    margin-top: 2px;
  }
  .headers{
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
  }
  .dld2{
    width: 200px;
    height: 50px;
  }
  .pdp{
    width: 70px;
    height: 70px;
  }
  .center{
    text-align: center;
    padding-top: 14px;
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 30px;
    margin: auto;
    border-radius: 20px;
  }
  .text{
    text-align: center;
  }
  .cardBody{
    border: 10px solid green;
    border-radius: 5px;
  }
  .body{
    display: flex;
    justify-content: space-between;
    padding: 7px;
  }
  .left{
    margin-top: 1rem;
  }
  .cmt{
    
  }
  
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }