*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
:root {
  --card-width : 820px;
  --card-height: 700px;

  --flyer-width : 90%;
  --flyer-height: 100%;

  --profile-width: 200px;
  --profile-height: 200px;
  
  --resize-width: 500px;
  --resize-height: 500px;
}

@media screen and (max-width: 1024px) {
  :root {
    --card-width: 90%;
    --card-height:70%;

    --flyer-width : 95%;
    --flyer-height:90%;

    --profile-height: 50px;
    --profile-width: 50px
  }
}

@media only screen and (max-width:600px) {
  :root {
    --card-width: 80%;
    --card-height:60%;

    --flyer-width : 90%;
    --flyer-height:100%;

    --profile-height: 50px;
    --profile-width: 50px
  }
}

