*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
:root {
  --card-width : 820px;
  --card-height: 700px;

  --flyer-width : 90%;
  --flyer-height: 100%;

  --profile-width: 180px;
  --profile-height: 180px;
  
  --resize-width: 180px;
  --resize-height: 180px;

  --avater-width: 500px;
  --avater-height: 300px;
}

@media screen and (max-width: 1024px) {
  :root {
    --card-width: 90%;
    --card-height:70%;

    --flyer-width : 95%;
    --flyer-height:90%;

    --profile-width: 180px;
    --profile-height: 180px;

    --avater-width: 180px;
    --avater-height: 180px;
  }
}

@media only screen and (max-width:600px) {
  :root {
    --card-width: 80%;
    --card-height:60%;

    --flyer-width : 98%;
    --flyer-height:300px;

    --profile-width: 90px;
    --profile-height: 90px;

    --avater-width: 80px;
    --avater-height: 80px;
  }
}

