*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* box-sizing: border-box; */
}
:root {
  --flyer-width : 640;
  --flyer-height: 500;
  --cardr-width : 500;
  --card-height: 500;
}

@media only screen and (min-width : 320px) and (max-width:600px) {
  :root {
    --card-width: 100;
    --card-height:80;
    --flyer-width : 100;
  --flyer-height: 80;
  }
}